<h2 align="center">
  Title: <%= @article.title %>
</h2>

<div class="card col-xs-8 col-xs-offset-2">
  <div class="card-header">
    <h4 class="center">
      <strong>Description:</strong>
    </h4>
  </div>
  <div class="card-body">
    <%= simple_format @article.description %>
  </div>
  <div class="card-body article-actions">
    <%= link_to 'Edit article', edit_article_path(@article.id), class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Delete this article', article_path(@article.id), method: :delete,
                data: { confirm: 'Are you sure you want to delete this article?'}, class: 'btn btn-xs btn-danger' %>
    <%= link_to 'View all articles', articles_path, class: 'btn btn-xs btn-success' %>
  </div>
</div>